doctype html

- var htmlClass="scale-md"

block vars

html(class=htmlClass)
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title
      block title
        | Connect Platform UI
    script(src=jsUrl+"/prelaunch.js")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block styles

  body.silverlight-hosting
    block body
    script(src="js/jquery.min.js")
    script(src="js/bootstrap.min.js")
    block scripts
